$black:       #000000;
$blue:        #0054A0;
$gray:        #6F6F6F;
$grayDark:    #4A4A4A;
$grayLight:   #F3F3F3;
$green:       #349D44;
$orange:      #E27208;
$orangeLight: #F9AB62;
$purple:      #6A3FC4;
$purpleLight: #CFC4ED;
$red:         #BD0606;
$white:       #FFFFFF;

body {
  background-color: $white;
  color: $grayDark;
}

a                 {color: $blue;}
a:active, a:hover {color: darken($blue, 20%);}
a:visited         {color: $purple;}
a:visited:hover   {color: darken($purple, 20%);}

button.bg-blue:hover      {background-color: darken($blue, 20%);}
button.bg-gray:hover      {background-color: darken($gray, 20%);}
button.bg-gray-dark:hover {background-color: darken($grayDark, 20%);}
button.bg-orange:hover    {background-color: darken($orange, 20%);}
button.bg-white:hover     {background-color: darken($white, 20%);}

/*
Only the resets are affected by the Dark Mode modifier. Other elements within
sections on dark backgrounds will be styled by applying dark-mode-approved
classes from the reusable class library.
*/
.dark-mode {
  color: $white;

  a                 {color: $orangeLight;}
  a:active, a:hover {color: darken($orangeLight, 20%);}
  a:visited         {color: $purpleLight;}
  a:visited:hover   {color: darken($purpleLight, 20%);}
}

.bg-black      {background-color: $black;}
.bg-blue       {background-color: $blue;}
.bg-gray       {background-color: $gray;}
.bg-gray-dark  {background-color: $grayDark;}
.bg-gray-light {background-color: $grayLight;}
.bg-green      {background-color: $green;}
.bg-orange     {background-color: $orange;}
.bg-purple     {background-color: $purple;}
.bg-red        {background-color: $red;}
.bg-white      {background-color: $white;}

.border-0          {border: 0}
.border-black      {border: 1px solid $black;}
.border-blue       {border: 1px solid $blue;}
.border-gray-dark  {border: 1px solid $grayDark;}
.border-gray       {border: 1px solid $gray;}
.border-green      {border: 1px solid $green;}
.border-gray-light {border: 1px solid $grayLight;}
.border-orange     {border: 1px solid $orange;}
.border-purple     {border: 1px solid $purple;}
.border-red        {border: 1px solid $red;}
.border-white      {border: 1px solid $white;}

.border-b-black      {border-bottom: 1px solid $black;}
.border-b-blue       {border-bottom: 1px solid $blue;}
.border-b-gray       {border-bottom: 1px solid $gray;}
.border-b-gray-dark  {border-bottom: 1px solid $grayDark;}
.border-b-gray-light {border-bottom: 1px solid $grayLight;}
.border-b-green      {border-bottom: 1px solid $green;}
.border-b-orange     {border-bottom: 1px solid $orange;}
.border-b-purple     {border-bottom: 1px solid $purple;}
.border-b-red        {border-bottom: 1px solid $red;}
.border-b-white      {border-bottom: 1px solid $white;}

.color-black      {color: $black;}
.color-blue       {color: $blue;}
.color-gray       {color: $gray;}
.color-gray-dark  {color: $grayDark;}
.color-gray-light {color: $grayLight;}
.color-green      {color: $green;}
.color-orange     {color: $orange;}
.color-purple     {color: $purple;}
.color-red        {color: $red;}
.color-white      {color: $white;}
