.w-2\/5 {width: calc(40% + 2rem);}
.w-2\/4 {width: calc(50% + 2rem);}
.w-3\/5 {width: calc(60% + 2rem);}
.w-2\/3 {width: calc(66.6666% + 2rem);}
.w-3\/4 {width: calc(75% + 4rem);}
.w-4\/5 {width: calc(80% + 6rem);}
