.absolute {position: absolute;}
.relative {position: relative;}

.flex {display: flex;}

.justify-center {justify-content: center;}

.items-center {align-items: center;}

.text-center {text-align: center;
}